.link-card-bookmark-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  padding: 0;
  background-color: transparent;

  width: 3rem;
  height: 3rem;

  @media screen and (min-width: 768px) {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.link-card-bookmark-btn-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
